[submodule "lib/AVRTOS"]
	path = lib/AVRTOS
	url = https://github.com/lucasdietrich/AVRTOS.git
	branch = master
[submodule "lib/caniot-lib"]
	path = lib/caniot-lib
	url = https://github.com/lucasdietrich/caniot-lib.git
	branch = avr-can-tool-integration
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
